<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.outsauce" >

    <permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="activities.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Login" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name="activities.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Registration"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.LoginActivity" />
        </activity>
        <activity
            android:name="activities.ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_profile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>
        <activity
            android:name="activities.NewJobActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_job" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.ProfileActivity" />
        </activity>
        <activity
            android:name="activities.JobActivity"
            android:label="@string/title_activity_job" >
        </activity>

        <service
            android:name="service.OutSauceService"
            android:enabled="true" />

    </application>

</manifest>
